/* para titulos   font-family: 'Chivo Mono', monospace; */
/* para los parrafos*/



*{
  padding: 0;
  margin: 0;
}
h1, h2, h3{
  font-family: 'Chivo Mono', monospace;
}
p ,span, textarea{
  font-family: 'Ubuntu', sans-serif;
  font-size: 25px;
}
header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 5px 0;
}
.img-header{
  padding-left: 30px;
  width: 60px;
  border-radius: 50%;
}
.h-header{
  text-align: center;
  width: 100%;

}
.subtitulo{
  padding-top: 15px;
}
/* main */
main{
  text-align: center;
}
.caja-contenedor{
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 25px 0;
}
.caja1{
  width: 60%;
  padding: 5px;
  box-sizing: border-box;
}
.caja2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
  padding: 5px;
  background-color: aquamarine;
border: 1px solid black;
border-radius: 10px;
box-sizing: border-box;
}
.textArea1{
  width: 90%;
  /* background-color: aquamarine; */
  border: 1px solid blue;
  border-radius: 15px;
  padding: 15px;
  resize: none;
  border-color: navajowhite;
  outline: none;
  min-height: 350px;
  box-sizing: border-box;
  }
  .pic{
    width: 90%;
  }

.textArea2{
  width: 80%;
  background-color: rgb(246, 250, 249);
  /* border: 0.5px solid blue; */
  border-radius: 15px;
  padding:9px 15px ;
  resize: none;
  outline: none;
  border-color: navajowhite;
  min-height: 290px;
  display: none;

}
.mostrar{
  display: unset;
}.ocultar{
  display: none;
}
button{
  width: 100px;
  padding: 5px;
  margin: 4px;
}
/* caja informacion */
.caja-informacion{
  margin-top: 10px;
  padding: 15px 0;
  background-color: gray;
}
span:hover{
box-shadow: 0px 0px 5px 5px rgb(21, 27, 21);
}

/*footer*/
footer{
  
  display: flex;
  width: 100%;
  background-color: rgb(1, 1, 15);
  justify-content: center;
  color: white;
  align-items: center;
  padding: 5px 0;
  margin: 0;
  overflow: hidden;
  
  
}
.img-footer{
  width: 30px;
  padding: 10px;
  /* border: 1px solid white; */
  border-radius: 50%;
  
}
.img-footer:hover{
  box-shadow: 0px 0px 190px 50px rgba(16, 22, 100, 0.62);
-webkit-box-shadow: 0px 0px 190px 50px rgba(47, 53, 134, 0.62);
-moz-box-shadow: 0px 0px 190px 50px rgba(27, 32, 102, 0.62);
}
.h-footer{
  padding: 0 10px;
}
@media screen and (max-width: 800px) {
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
  header{
    background-color: rgb(58, 10, 10);
  }
  .caja1{
    width: 50%;
    height:60% ;
  }
  .caja2{
    width: 40%;
    height: auto;
  }
  .textArea1{
    height: 50%;
  }
  
  
}
@media screen and (max-width: 400px) {
  header{
    background-color: blue;
  }
  .caja-contenedor{
    flex-direction: column;
  }
  .caja1, .caja2{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .caja2{
    width: 90%;
  }
}